*, *::before, *::after{
  box-sizing: border-box;
}

html{
  height: 100%;
}
body{
  margin: 0;
  background: linear-gradient(blue, lightgreen);
}

.calculator-grid{
  display:grid;
  justify-content: center;
  margin-top:30px;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.two-wide{
  grid-column: span 2;
}

.output-field{
  grid-column: 1 / -1;
  background-color: black;
  display:flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;

  word-wrap: break-word;
  word-break: break-all;

  padding:10px;
}

.output-field .last-number{
  color:white;
}

.output-field .current-number{
  color:white;
  font-size: 2.5rem;
}

.calculator-grid button{
  font-size:25px;
  outline: none;
  background-color: rgba(255, 255, 255, .60);
  border: 1px solid white;
}

.calculator-grid button:hover{
  background-color: rgba(255, 255, 255, 0.9);
}